# Question 1

## Explain the key features of Python that make it a popular choice for programming.

Point 1 >> Python is a programming language that is easy to understand and write, making it an ideal language for beginners and also making it a popular choice among developers and programmers.

In [8]:
#Example for Point 1

print("Hello World") #Output will be Hello World.

Hello World

Point 2 >> Python does not require a user to declare the type of variable.The type is determined at runtime.

In [7]:
#Example for Point 2

a=10         # a is nan integer
a="Pwskills" # Now a is a string
print(a)     # Output will be Pwskills

Pwskills

Point 3 >> Python is executed line by line which makes debgging easier and quicker.

In [6]:
#Example for Point 3

a=10
b=20
print(a+b) #Output will be 30

30

Ponit 4 >> Python is compatible with various programming paradigms, such as procedural, object-oriented, and functional programming.

Point 5 >> Python is platform-independent, which means that the same Python code can run on various operating systems like Windows, macOS, and Linux without any modification.

In [11]:
#Example for Point 5

print("This code is platform-independent!") # This code will run on any operating system.

This code is platform-independent!

Point 6 >> Python is used in various domains such as web development, data science, machine learning, automation, and more, making it a versatile choice for many types of projects.

In [22]:
#Example for Point 6 : Automating a simple task

for i in range(5):
    print("Task",i,"completed!")

Task 0 completed!
Task 1 completed!
Task 2 completed!
Task 3 completed!
Task 4 completed!

Point 7 >> Python can be used in interactive mode, allowing for quick testing and experimentation.It can also be integrated with other languages like C,C++ and JAVA providing flexibility in large projects.

In [24]:
#Example for Point 7 : Running python interactively

2+2

4

Point 8 >> Python has a large and active community of developers,an extensive standard library and third-party packages for various domains.

In [26]:
#Example for Point 8 : Extensive standard library

import math
print(math.sqrt(16))

4.0

# Question 2

## Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

>> In Python,predefined keywords are reserved words that have special meaning in the language and cannot be used as identifiers(variable names , function names etc).

>> Keywords in Python are case sensitive and cannot be redefinedor overridden within a Python program.

>> Examples of keywords include if,else,while,for,def,class,import,try,except,return,true,false,none etc.

### Role of Pre-defined Keywords

>> Control Flow: Keywords like if, else, elif, while, for, break, continue, and return control the flow of execution in a program.

In [38]:
#Example 1: Control flow (if,elif,else)

a=10
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero") # The Output will be Positive,Because the value of a is 10.

Positive

In [46]:
#Example 2: Control flow (for,break)

for i in range(10):
    if i==5:
        break #This condition will exit the loop when i is equal to 5.
    print(i)

0
1
2
3
4

In [45]:
#Example 3 : Control flow (Continue)

for i in range(10):
    if i%2==0:
        continue #This condition will skip rest of the loop body for even numbers.
    print(i)     #Only print odd numbers

1
3
5
7
9

In [3]:
#Example 4 : Control flow (while)

count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

>> Data Definition: Keywords such as class, def, lambda, import, and as are used to define classes, functions, and modules.

In [14]:
#Example 1 : Data defination (import)

import math
print(math.sqrt(16))

4.0

In [15]:
#Example 2 : Data defination (def,return)

def add(a,b):
    return a+b
result=add(5,5)
print(result)

10

>> Error Handling: Keywords like try, except, finally, raise, and assert are used to handle exceptions and errors in the code.

In [20]:
#Example 1 : Error Handling (try,except,finally)

try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero")
finally:
    print("This block always runs")

Cannot divide by zero
This block always runs

>> Boolean Operations: Keywords like True, False, and, or, not, is, and in are used in logical operations.

In [32]:
#Example 1 : Boolean operations (and)

a = True
b = False
result = a and b  # and Operator: Returns True if both conditions are True
print(result)     # output: False

False

In [37]:
#Example 2 : Boolean operations (or)

a = True
b = False
result = a or b  # or Operator: Returns True if at least one of the conditions is True
print(result)    # output: True

True

In [34]:
#Example 3 : Boolean operations (not)

a = True
result = not a  # not Operator: Returns True if the condition is False, and False if the condition is True
print(result)   # Output: False

False

>> Memory Management: Keywords such as None, which represents a null value, are used for memory management.

In [36]:
#Example : Memory management (None)

a = None
if a is None:
    print("a is None")

a is None

# Question 3

## Compare and contrast mutable and immutable objects in Python with examples.

>> In Python, objects are classified as either mutable or immutable based on whether their state can be changed after the object is created.

### Mutable Objects

>> Mutable objects are those whose state or contents can be modified after they are created.

>> Mutable objects are more flexible but can lead to issues like unexpected changes and is generally less memory-efficient.

>> Mutable objects are useful when you need to store a collection of data that will change over time, such as building up a list of results.

### Examples of Mutable Objects

>> Lists
>> Dictionaries
>> Sets

### Characteristics of Mutable Objects

>> Modification: You can modify the object in place, which means you can change, add, or remove elements.

>> Memory: Operations that modify a mutable object don't create a new object; they modify the existing one.

>> Methods: Mutable objects often have methods that allow direct modification (Example - append, remove, update).

### Programming example of Mutable Objects

In [49]:
my_list = [1, 2, 3] #Lists are mutable
print(my_list)      # Output: [1, 2, 3]

my_list.append(4)   # Modifying the list
print(my_list)      # Output: [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]

### Immutable Objects

>> Immutable objects are those whose state or contents cannot be modified after they are created.

>> Immutable objects are more memory-efficient and safer in contexts like concurrent programming because they cannot be altered.

>> Immutable objects useful when the data should not change after creation, such as storing constants or data that will be shared across threads.

### Examples of Immutable Objects

>> Tuples
>> Strings
>> Integers
>> Floats
>> Booleans

### Characteristics of Mutable Objects

>> No Modification: Any operation that seems to modify an immutable object actually creates a new object.

>> Memory: Since they can't be modified, they are often stored in memory more efficiently and can be reused.

>> Methods: Immutable objects don't have methods that modify the object in place; instead, operations return a new object.

### Programming example of Immutable Objects

In [52]:
my_string = "hello" # Strings are immutable
print(my_string)    # Output: "hello"


new_string = my_string + " world"# Attempting to modify the string creates a new one
print(new_string)   # Output: "hello world"
print(my_string)    # Output: "hello" (original string remains unchanged)

hello
hello world
hello

# Question 4

## Discuss the different types of operators in Python and provide examples of how they are used.

>> Operators are special synbols or keywords that are used to perform various operations on variables and values in Python expressions.

>> Python supports various types of operators including arithematic operator (+,-,*,/,%,//,**),comparison operator (==,!=,<,>),logical operator (and,or,not) etc.

## Different types of Operators in Python with examples:

### 1 >> Arithematic Operator - Arithematic operators are used to perform basic mathematical operations.

> Addition (+)

In [18]:
#Example of addition

a=5
b=3
result=a+b   # result is 8
print(result)

8

> Subtraction (-)

In [138]:
#Example of subtraction

a=5
b=3
result=a-b   # result is 2
print(result)

2

> Multiplication (*)

In [21]:
#Example of multiplication

a=5
b=3
result=a*b   # result is 15
print(result)

15

> Division (/)

In [22]:
#Example of division

a=6
b=3
result=a/b   # result is 2
print(result)

2.0

> Floor Division (//)

In [28]:
#Example of floor division

a=6
b=3
result=a//b   # result is 2
print(result)

2

> Modulus (%)

In [33]:
#Example of modulus

a=7
b=3
result=a%b   # result is 1
print(result)

1

> Exponentiation (**)

In [137]:
#Example of exponentation

a=3
b=3
result=a**b   # result is 27
print(result)

27

### 2 >> Comparison Operators - Comparison operators are used to compare two values.

> Equal (==)

In [106]:
#Example of Equal

a = 5
b = 3
result=(a==b)  # result is False
print(result)

False

> Not Equal (!=)

In [107]:
#Example of Not Equal

a = 5
b = 3
result=(a!=b)  # result is True
print(result)

True

> Greater Than (>)

In [108]:
#Example of Greater than

a = 5
b = 3
result=(a>b)  # result is True
print(result)

True

> Less Than (<)

In [110]:
#Example of Less than

a = 5
b = 3
result=(a<b)  # result is False
print(result)

False

> Greater Than or Equal To (>=)

In [111]:
#Example of Greater than or equal to

a = 5
b = 3
result=(a>=b)  # result is True
print(result)

True

> Less Than or Equal To (<=)

In [112]:
#Example of Less than or equal to

a = 5
b = 3
result=(a<=b)  # result is False
print(result)

False

### 3 >> Logical Operators - Logical operators are used to combine conditional statements.

> AND (and)

In [114]:
#Example of AND

a = True
b = False
result = a and b  # result is False
print(result)

False

> OR (or)

In [116]:
#Example of OR

a = True
b = False
result = a or b  # result is True
print(result)

True

> NOT (not)

In [117]:
#Example of NOT

a = True
result = not a  # result is False
print(result)

False

### 4 >> Assignment Operators - Assignment operators are used to assign values to variables.

> Assignment (=)

In [118]:
#Example of Assignment

a = 5    # a is assigned the value 5
print(a) # Output is 5

5

> Add and Assign (+=)

In [119]:
#Example of Add and assign

a = 5
a += 3   # It will add the value of a(which is 5) with 3 and store the result in a.
print(a) # Output is 8

8

> Subtract and Assign (-=)

In [120]:
#Example of Subtract and assign

a = 5
a -= 3   # It will subtract the value of a(which is 5) with 3 and store the result in a.
print(a) # Output is 2

2

> Multiply and Assign (*=)

In [122]:
#Example of Multiply and assign

a = 5
a *= 3   # It will multiply the value of a(which is 5) with 3 and store the result in a.
print(a) # Output is 15

15

> Divide and Assign (/=)

In [123]:
#Example of Divide and assign

a = 6
a /= 3   # It will divide the value of a(which is 6) with 3 and store the result in a.
print(a) # Output is 2

2.0

> Modulus and Assign (%=)

In [124]:
#Example of Modulud and assign

a = 5
a %= 3   # It will divide the value of a(which is 5) with 3 and store the remainder in a.
print(a) # Output is 2

2

> Exponent and Assign (**=)

In [125]:
#Example of Exponent and Assign

a = 5
a **= 3   
print(a) # Output is 125

125

> Floor Division and Assign (//=)

In [126]:
#Example of Division and Assign

a = 6
a //= 3   
print(a) # Output is 2

2

### 5 >> Bitwise Operators - Bitwise operators operate on binary digits and perform bit-level operations.

> AND (&)

In [127]:
#Example of bitwise AND

a = 5  # 101 in binary
b = 3  # 011 in binary
result = a & b  # result is 1 (001 in binary)
print(result)

1

> OR (|)

In [129]:
#Example of bitwise OR

a = 5  # 101 in binary
b = 3  # 011 in binary
result = a | b  # result is 7 (111 in binary)
print(result)

7

> XOR (^)

In [130]:
#Example of bitwise XOR

a = 5  # 101 in binary
b = 3  # 011 in binary
result = a ^ b  # result is 6 (110 in binary)
print(result)

6

> NOT (~)

In [140]:
#Example of bitwise NOT

a = 5  # 101 in binary
result = ~a  # result is -6 (inverting bits)
print(result)

-6

> Left Shift (<<)

In [131]:
#Example of Left shift

a = 5  # 101 in binary
result = a << 1  # result is 10 (1010 in binary)
print(result)

10

> Right Shift (>>)

In [132]:
#Example of Right shift

a = 5  # 101 in binary
result = a >> 1  # result is 2 (10 in binary)
print(result)

2

### 6 >> Membership Operators - Membership operators are used to test if a sequence contains a specified value.

> In (in)

In [133]:
#Example of IN

a = [1, 2, 3, 4, 5]
result = 3 in a  # result is True
print(result)

True

> Not In (not in)

In [134]:
#Example of NOT IN

a = [1, 2, 3, 4, 5]
result = 6 not in a  # result is True
print(result)

True

### 7 >> Identity Operators - Identity operators are used to compare objects to see if they are the same object in memory.

> Is (is)

In [135]:
#Example of IS

a = [1, 2, 3]
b = a
result = a is b  # result is True (both refer to the same object)
print(result)

True

> Is Not (is not)

In [136]:
#Example of NOT IS

a = [1, 2, 3]
b = [1, 2, 3]
result = a is not b  # result is True (different objects in memory)
print(result)

True

>> These operators form the foundation of Python programming, enabling developers to perform a wide range of operations efficiently.

# Question 5

## Explain the concept of type casting in Python with examples.

>> Type casting in Python refers to the process of converting a value from one data type to another.

>> Type casting is often necessaryfor performing arithematic operations,data manipulation and input/output operations in Python program.

>> Python provides several built-in functions to perform type casting such as;

1 > int(): Converts a value to an integer.

2 > float(): Converts a value to a floating-point number.

3 > str(): Converts a value to a string.

4 > list(): Converts a value to a list.

5 > tuple(): Converts a value to a tuple.

6 > dict(): Converts a value to a dictionary.

### Examples of Type Casting

In [1]:
# Example 1 - Casting a float to an integer

float_value = 10.8
int_value = int(float_value)
print(int_value)  # Output: 10

10

>> In the above example 1 of casting float to an integer the float_value is 10.8, and using int(float_value), it is converted to the integer 10. 

>> Note that type casting to int truncates the decimal part, it does not round the number.

In [3]:
# Example 2 - Casting an integer to a float

int_value = 5
float_value = float(int_value) # the integer 5 will be converted to the float 5.0
print(float_value)  # Output: 5.0

5.0

In [4]:
# Example 3 - Casting a string to an integer

str_value = "123"
int_value = int(str_value)
print(int_value)  # Output: 123

123

>> In the above example 3 of casting a string to an integer the string "123" is converted to the integer 123. This works as long as the string is a valid representation of an integer. If the string contains non-numeric characters, it will raise a ValueError.

In [14]:
# Example 4 - Casting an integer to a string

int_value = 100
str_value = str(int_value) # the integer 100 will be converted to the string "100"
print(str_value)  # Output: "100"

100

In [13]:
# Example 5 - Casting a list to a tuple

list_value = [1, 2, 3]
tuple_value = tuple(list_value) # The list [1, 2, 3] will be converted to the tuple (1, 2, 3)
print(tuple_value)  # Output: (1, 2, 3)

(1, 2, 3)

In [12]:
# Example 6 - Casting a list of key-value pairs to a dictionary

list_of_tuples = [("key1", "value1"), ("key2", "value2")]
dict_value = dict(list_of_tuples) # A list of key-value pairs (tuples) will be converted to a dictionary
print(dict_value)  # Output: {'key1': 'value1', 'key2': 'value2'}

{'key1': 'value1', 'key2': 'value2'}

### Important Points

>> Type casting can be implicit (automatic) or explicit (manual).

>> The examples above demonstrate explicit type casting.

>> Implicit type casting occurs when Python automatically converts a value to a compatible type, such as when adding an integer to a float as shown in below example 7.

In [15]:
# Example 7

result = 5 + 3.0
print(result)  # Output: 8.0

8.0

>> In the above example 7,the integer 5 is implicitly converted to 5.0 to match the type of 3.0.

>> Type casting is a powerful tool in Python, enabling developers to work with different data types seamlessly in their code.

# Question 6

## How do conditional statements work in Python? Illustrate with examples.

>> In Python,conditional statements are used to execute code based on the evaluation of one or more conditions.

>> The most common conditional statements in Python are 'if', 'elif' (elseif), and 'else'.

>> Conditinal statements can be nested to handle multiple conditions and control different branches of execution based on the outcome of logical expressions.

### 1 >> 'if' Statement

>> The 'if' statement checks a condition and if the condition is True, the code block under the 'if' statement is executed.

#### Syntax of 'if' statement

if condition:  # code block to be executed if the condition is True

In [22]:
# Example of 'if' statement

x = 10
if x > 5:
    print("x is greater than 5") # Output : x is greater than 5

x is greater than 5

### 2 >> 'elif' Statement

>> The 'elif' ("else if") statement checks another condition if the previous 'if' condition was False.

>> You can have multiple elif statements.

#### Syntax of 'elif' statement

if condition1:   # code block executed if condition1 is True
elif condition2: # code block executed if condition1 is False and condition2 is True

In [25]:
# Example of 'elif' statement

x = 10
if x > 15:
    print("x is greater than 15")
elif x > 5:
    print("x is greater than 5 but less than or equal to 15") # Output : x is greater than 5 but less than or equal to 15

x is greater than 5 but less than or equal to 15

### 3 >> 'else' Statement

>> The else statement is the fallback. It executes if none of the preceding conditions are True.

#### Syntax of 'else' statement

if condition1:   # code block executed if condition1 is True
elif condition2: # code block executed if condition1 is False and condition2 is True
else:            # code block executed if none of the above conditions are True

In [27]:
# Example of 'else' statement

x = 3
if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5 but less than or equal to 10")
else:
    print("x is 5 or less") # Output : x is 5 or less

x is 5 or less

### 4 >> Nested 'if' Statement

>> You can also nest if statements within each other, allowing for more complex conditions.

In [29]:
# Example of Nested 'if' statement

x = 8
y = 4

if x > 5:
    if y > 3:
        print("x is greater than 5 and y is greater than 3")
    else:
        print("x is greater than 5 but y is 3 or less")
else:
    print("x is 5 or less") #Output : x is greater than 5 and y is greater than 3

x is greater than 5 and y is greater than 3

>> In the above example of Nested 'if' statement ,the if inside another if creates a nested structure.

>> The code first checks if x > 5, and then, within that block, it checks whether y > 3.

# Question 7

## Describe the different types of loops in Python and their use cases with examples.

>> In Python,loops allow to repeat a sequence of actions or code until a specific condition is fulfilled.

>> The primary types of loops in Python are 'for' loops, 'while' loops, and 'nested' loops. Each type has its use cases and characteristics.

### 1 >> 'for' loop

#### Defination

>> 'for' loops are used for iterating over a sequence of elements.

>> It repeats the block of code for each time in the sequence.

#### Use case

>> Iterating over elements of a list, tuple, or string.

>> Repeating a block of code a specific number of times.

>> Iterating through keys and values of a dictionary.

#### Example

In [5]:
# Example 1 - Iterating over a list

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [4]:
# Example 2 -  Using range() to iterate a specific number of times

for i in range(3):
    print(i)

0
1
2

### 2 >> 'While' loop

#### Defination

>> The while loop repeatedly executes a block of code as long as a specified condition is True. 

>> The condition is checked before each iteration, and if it becomes False, the loop stops.

#### Use case

>> When the number of iterations is not known in advance.

>> Repeating a block of code until a specific condition is met.

>> Implementing infinite loops (which can be broken with break).

#### Example

In [6]:
# Example 1 - Basic while loop

count = 0
while count < 3:
    print(count)
    count += 1

0
1
2

In [3]:
# Example 2 - while loop with a condition

number = 0
while number < 10:
    number = int(input("Enter a number greater than 10: "))
print("Thank you!")

Enter a number greater than 10:  5
Enter a number greater than 10:  4
Enter a number greater than 10:  2
Enter a number greater than 10:  12

Thank you!

### 3 >> Nested Loops

#### Defination

>> A nested loop is a loop inside another loop.

>> The inner loop runs completely every time the outer loop runs once.

#### Use case

>> Iterating over multi-dimensional data structures like lists of lists.

>> Performing complex repetitive tasks that require multiple levels of iteration.

#### Example

In [4]:
# Example - Nested for loop

for i in range(3):
    for j in range(3):
        print("*",end = " ")
    print()

* * *
* * *
* * *

### 4 >> Loop control statements

>> Python provides several control statements to manage the flow of loops:

> break: Exits the loop immediately when a certain condition is met.

> continue: Skips the rest of the code inside the loop for the current iteration and moves to the next iteration.

> else: Can be used with 'for' and 'while' loops. The 'else' block runs if the loop completes normally.

#### Example

In [9]:
# break example

for i in range(5):
    if i == 3: 
        break  # break and exits the loop when 'i' is equal to 3.
    print(i)

0
1
2

In [10]:
# continue example
for i in range(5):
    if i == 3:
        continue # Skips the current iteration in the loop when 'i' is equal to 3 and moves to next iteration.
    print(i)

0
1
2
4

In [12]:
# else with loop

for i in range(5):
    print(i)
else:
    print("Loop completed without break.")

0
1
2
3
4
Loop completed without break.